<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<div id="members">
  <ul>
    <% @beer_club.members.each do |m| %>
      <li> <%= m.username %> </li>
      <%end%>
  </ul>
</div>

<% if current_user %>
  <% if current_user.in? @beer_club.members %>
    <%= form_with(url: membership_path(@membership), method: :delete) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "End the membership" %>
    <% end %>
  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join this club" %>
    <% end %>
  <% end %>
  <div>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) %> 
    <%= button_to "Destroy this beer club", @beer_club, method: :delete %>
  </div>
<% end %>
