<h2>Username:</h2>
<p> <%= @user.username %> </p>

<% if @user.favorite_style %>
  <p><strong>Favourite style:</strong> <%= @user.favorite_style.name%></p>
  <p><strong>Favourite brewery:</strong>  <%= @user.favorite_brewery.name %></p>
<% end %>

<%= @user.username %> is a member of <%= @user.clubs.count %> clubs:
<ul>
  <% @user.clubs.each do |c| %>
    <li> <%= link_to c.name, c %> </li>
  <%end%>
</ul>

<%= @user.username %>
has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %>

<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %> 
      <% if @user == current_user %>
        <%= link_to 'Delete', rating, data: { "turbo-method": :delete } %>
      <% end %>
    </li>
  <% end %>
</ul>




<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
