<p style="color: green"><%= notice %></p>
<h2>Username:</h2>
<%= @user.username %>
Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %>

<ul>
  <% @user.ratings.each do |rating| %>
    <% beer = Beer.find_by id: rating.beer_id %>
    <li><%= beer.name %> <%= rating.score %> <%= link_to 'Delete', rating, data: { "turbo-method": :delete }, class: "link-secondary smooth"  %></li>
  <% end %>
</ul>




<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
