<h2>Recent ratings</h2>
<ul>
  <% @recent_ratings.each do |rating| %>
    <li> <%= render rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<h2> Top beers </h2>
<ul>
  <% @top_beers.each do |beer| %>
    <li> <%= render beer %> </li>
  <% end %>
</ul>

<h2> Top breweries </h2>
<ul>
  <% @top_breweries.each do |brewery| %>
    <li> <%= render brewery %> </li>
  <% end %>
</ul>

<h2> Top styles </h2>
<ul>
  <% @top_styles.each do |style| %>
    <li> <%= render style %> </li>
  <% end %>
</ul>

<h2> Most active users </h2>
<ul>
  <% @active_raters.each do |user| %>
    <li> <%= render user %> <%= user.amount_of_ratings %> ratings </li>
  <% end %>
</ul>
