<div id="<%= dom_id brewery %>">
  <h6> 
    <strong>Name:</strong>
    <%= link_to brewery.name, brewery %>
    <% if not brewery.active %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h6>
  <p><i>Established in <%=brewery.year %></i></p>
  <p>
   <% brewery.beers.each do |beer| %>
     <%= link_to beer.name, beer %>
   <% end %>

  </p>
  <% if brewery.ratings.empty? %>
  <% else %>
  This brewery's beers have <%= pluralize(brewery.ratings.count, 'rating') %> with an average rating of <%= round brewery.average_rating %>
  <% end %>

</div>
