<%= render @brewery %>

<div>
  <%= link_to "change_activity", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
  <% if current_user %>
    <%= link_to "Edit this brewery", edit_brewery_path(@brewery) %> |
    <%= link_to "Back to breweries", breweries_path %>

    <%= button_to "Destroy this brewery", @brewery, method: :delete %>
  <% end %>
</div>
