<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <% brewery = Brewery.find_by id: beer.brewery_id %>
    <%= link_to brewery.name, brewery %>
  </p>

  <% if beer.ratings.empty? %>
  <% else %>
    Beer has <%= beer.ratings.count %> ratings with an average of <%= beer.average_rating %>
  <% end %>

</div>
